body {
	margin: 0 auto;
	width: 1200px;
	border: 1px dotted black;
}

p {
	text-align: center;
}

#login, #createAccount {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#login form input {
	margin-top: 30px;
	margin-bottom: 30px;
}

#createAccount {
	display: none;
}

#createAccount form input {
	margin-top: 10px;
	margin-bottom: 15px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.mouseHover:hover {
	cursor: pointer;
}