@font-face {
	font-family: "wowfont";
	src: url("../fonts/morpheus.ttf");
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.mouseHover:hover {
	cursor: pointer;
}

a:hover {color: black; text-decoration: none;}			/* LINKOVI */
a:visited {color: black; text-decoration: none;}
a:link {color: black; text-decoration: none;}
a:active {color: black; text-decoration: none;}

body {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 1000px;
	background-image: url('../images/site/background.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-color: black;
	font-family: "wowfont";
}

#topLimiter {
	height: 35px;
}

#sajt {
	margin-bottom: 20px;
	padding-bottom: 28px;
	background-image: url("../images/site/siteBackgroundPart.png");
	background-repeat: no-repeat;
}

p {
	text-align: center;
	clear: both;
}

#achievementiButton {
	width: 164px;
	height: 34px;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	color: white;
	text-shadow: 2px 2px black;
}

#profile {
	float: left;
	width: 282px;
	height: 180px;
	position: absolute;
	margin-bottom: 9px;
	margin-left: 40px;
	/* background-image: url("../images/profileFrame.png"); */
	background-position: center top;
	background-size: 100%;
	color: white;
}

#profile .avatarImage {
	width: 136px;
	height: 180px;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

#profile .avatarFrame {
	width: 146px;
	height: 190px;
	position: absolute;
}

#profile #username {
	width: 148px;
	position: absolute;
	top: 134px;
	text-align: center;
	text-shadow: 2px 2px black;
}

#profile #rank {
	float: left;
	height: 16px;
	position: absolute;
	margin-top: 90px;
	margin-left: 128px;
	padding: 6px;
	border: 1px solid #BD9F56;
	border-radius: 2px;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #BD9F56;
	text-shadow: 2px 2px black;
	line-height: 12px;
}

#menu {
	float: right;
	width: 164px;
	height: 34px;
	margin-top: 9px;
	margin-bottom: 9px;
	margin-right: 40px;
	text-align: center;
	line-height: 28px;
	color: white;
	text-shadow: 2px 2px black;
}

.button {
	background-image: url("../images/site/button.png");
	background-size: 100%;
}

.buttonPressed {
	background-image: url("../images/site/buttonPressed.png");
	background-size: 100%;
}

#title {
	width: 1000px;
	text-align: center;
	text-indent: 200px;
	margin-bottom: 107px;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px black;
}

#progressBar {
	clear: both;
	width: 670px;
	height: 64px;
	position: relative;
	margin: 0 auto;
	/*background-image: url("../images/site/progressBar.png");
	background-size: 100%;
	background-repeat: no-repeat;*/
	color: white;
}

#progressBar img {
	width: 100%;
	position: absolute;
}

#progressBar progress {
	width: 596px;
	height: 34px;
	margin-left: 36px;
	margin-top: 14px;
	background-color: rgba(10, 10, 10, 0.7);
	border: 0;
	border-radius: 10px;
}

#progressBar div {
	width: 100%;
	position: absolute;
	text-align: center;
	line-height: 56px;
	font-size: 22px;
	text-shadow: 2px 2px black;
}

progress::-moz-progress-bar {
	height: 34px;
	background-color: rgb(14, 170, 255);
	box-shadow: inset 0px 0px 16px 4px rgba(0,0,0,0.75);
	border-radius: 10px;
	color: white;
}

progress::-webkit-progress-value {
	height: 34px;
	background-color: rgb(14, 170, 255);
	box-shadow: inset 0px 0px 16px 4px rgba(0,0,0,0.75);
	border-radius: 10px;
	color: white;
}

progress::-webkit-progress-bar {
	background-color: rgba(10, 10, 10, 0.1);
}

#unlocker {
	width: 900px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 24px;
	text-align: center;
	background-image: url("../images/site/parchment.png");
	background-position: center center;
	background-size: 90%;
	background-repeat: no-repeat;
}

.delimiter {
	height: 1px;
}

#unlocker form p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#unlocker form input {
	margin-bottom: 10px;
}

#unlocker form input#submit {
	width: 164px;
	height: 34px;
	border: none;
	background-color: transparent;
	font-family: "wowfont";
	color: white;
	text-shadow: 2px 2px black;
}

#achievements {
	height: 690px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 14px;
	padding-bottom: 82px;
	/*background-image: url("../images/site/achievementPanel.png");*/
	background-image: url("../images/site/siteBackgroundPart2.png");
	background-repeat: no-repeat;
}

#achievements #achievementsFrame {
	width: 720px;
	margin: 0 auto;
	margin-top: 10px;

}

#achievementPoints {
	height: 124px;
	line-height: 194px;
	text-align: center;
	font-family: "wowfont";
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px black;
}

.achievementResult {
	width: 512px;
	height: 95px;
	margin: 0 auto;
	background-image: url("../images/site/achievementResult.png");
	font-family: "wowfont";
}

#achievementResultBackground {
	position: absolute;
}

div#levi {
	float: left;
	width: 82px;
	height: 100%;
}

div#levi img {
	width: 44px;
	height: 42px;
	margin-left: 19px;
	margin-top: 20px;
	border-radius: 2px;
}

div#levi p {
	margin-top: 7px;
	margin-bottom: 8px;
}

div#desni {
	float: right;
	width: 430px;
	height: 100%;
	background-size: 100%;
}

div#desni .achievementName {
	height: 21px;
	width: 342px;
	margin-top: 6px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
}

div#desni .achievementDesc {
	height: 34px;
	width: 344px;
	margin: 0px;
	margin-bottom: 22px;
	text-align: center;
	font-weight: bold;
}

div#desni .achievementPoints {
	float: right;
	width: 100px;
	margin-top: 55px;
	text-align: center;
	color: gold;
	text-shadow: 2px 2px black;
}

#achievementUnlockModal {				/* POZADINA MODALA KOJI SE OTVORI KADA KLIKNES NA NEKI RAD */
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#achievementUnlockContent {			/* CONTENT DIV TOG MODALA KOJI SE OTVORI */
	width: 420px;
	height: 180px;
	margin: 0 auto;
	margin-top: 8%;
	border: 1px solid #BD9F56;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0 0 0 2px black, 0 0 0 4px #BD9F56;
}

#avatarChangeModal {				/* POZADINA MODALA KOJI SE OTVORI KADA KLIKNES NA NEKI RAD */
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#avatarChangeContent {			/* CONTENT DIV TOG MODALA KOJI SE OTVORI */
	width: 636px;
	height: 316px;
	margin: 0 auto;
	margin-top: 8%;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid #BD9F56;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #BD9F56;
}
