@font-face {
	font-family: "wowfont";
	src: url("../fonts/morpheus.ttf");
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.mouseHover:hover {
	cursor: pointer;
}

a:hover {color: black; text-decoration: none;}			/* LINKOVI */
a:visited {color: black; text-decoration: none;}
a:link {color: black; text-decoration: none;}
a:active {color: black; text-decoration: none;}

body {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 1000px;
	background-image: url('../images/site/background.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-color: black;
	font-family: "wowfont";
}

#topLimiter {
	height: 35px;
}

#sajt {
	margin-bottom: 20px;
	padding-bottom: 28px;
	background-image: url("../images/site/siteBackgroundPartAchievs.png");
	background-repeat: no-repeat;
}

p {
	text-align: center;
	clear: both;
}

#achievementiButton {
	width: 164px;
	height: 34px;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	color: white;
	text-shadow: 2px 2px black;
}

#profile {
	float: left;
	width: 282px;
	height: 180px;
	position: absolute;
	margin-bottom: 9px;
	margin-left: 40px;
	/* background-image: url("../images/profileFrame.png"); */
	background-position: center top;
	background-size: 100%;
	color: white;
}

#profile .avatarImage {
	width: 136px;
	height: 180px;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

#profile .avatarFrame {
	width: 146px;
	height: 190px;
	position: absolute;
}

#profile #username {
	width: 148px;
	position: absolute;
	top: 134px;
	text-align: center;
	text-shadow: 2px 2px black;
}

#profile #topUserPoints {
	float: left;
	height: 16px;
	position: absolute;
	margin-top: 90px;
	margin-left: 128px;
	padding: 6px;
	border: 1px solid #BD9F56;
	border-radius: 2px;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #BD9F56;
	text-shadow: 2px 2px black;
	line-height: 12px;
}

#title {
	width: 1000px;
	text-align: center;
	text-indent: 200px;
	margin-bottom: 107px;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px black;
}

#menu {
	float: right;
	width: 164px;
	height: 34px;
	margin-top: 9px;
	margin-bottom: 9px;
	margin-right: 40px;
	text-align: center;
	line-height: 28px;
	color: white;
	text-shadow: 2px 2px black;
}

.button {
	background-image: url("../images/site/button.png");
	background-size: 100%;
}

.buttonPressed {
	background-image: url("../images/site/buttonPressed.png");
	background-size: 100%;
}

.delimiter {
	height: 1px;
}

#achievements {
	height: 690px;
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 82px;
	background-image: url("../images/site/siteBackgroundPart2.png");
	background-repeat: no-repeat;
}

#achievements #achievementsFrame {
	width: 720px;
	margin: 0 auto;
	margin-top: 10px;

}

#achievementPoints {
	height: 124px;
	line-height: 194px;
	text-align: center;
	font-family: "wowfont";
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px black;
}

.achievementResult {
	width: 512px;
	height: 95px;
	margin: 0 auto;
	background-image: url("../images/site/achievementResult.png");
	font-family: "wowfont";
}

#achievementResultBackground {
	position: absolute;
}

div#levi {
	float: left;
	width: 82px;
	height: 100%;
}

div#levi img {
	width: 44px;
	height: 42px;
	margin-left: 19px;
	margin-top: 20px;
	border-radius: 2px;
}

div#levi p {
	margin-top: 7px;
	margin-bottom: 8px;
}

div#desni {
	float: right;
	width: 430px;
	height: 100%;
	background-size: 100%;
}

div#desni .achievementName {
	height: 21px;
	width: 342px;
	margin-top: 6px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
}

div#desni .achievementDesc {
	height: 34px;
	width: 344px;
	margin: 0px;
	margin-bottom: 22px;
	text-align: center;
	font-weight: bold;
}

div#desni .achievementPoints {
	float: right;
	width: 100px;
	margin-top: 55px;
	text-align: center;
	color: gold;
	text-shadow: 2px 2px black;
}

#topten {
	height: 800px;
	background-image: url("../images/site/toptenBackground.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.topUser {
	float: left;
	width: 232px;
	height: 180px;
	position: relative;
	margin-bottom: 9px;
	margin-left: 18px;
	/* background-image: url("../images/profileFrame.png"); */
	background-position: center top;
	background-size: 100%;
	color: white;
}

.topUser .toptenUserAvatarImage {
	width: 136px;
	height: 180px;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.topUser .toptenUserAvatarFrame {
	width: 146px;
	height: 190px;
	position: absolute;
}

.topUser .toptenUserAvatarFrame:hover {
	cursor: pointer;
}

.topUser .toptenUserUsername {
	width: 148px;
	position: absolute;
	top: 134px;
	text-align: center;
	text-shadow: 2px 2px black;
}

.topUser .toptenUserPoints {
	float: left;
	height: 16px;
	position: absolute;
	margin-top: 90px;
	margin-left: 128px;
	padding: 6px;
	border: 1px solid #BD9F56;
	border-radius: 2px;
	box-shadow: 0 0 0 2px black, 0 0 0 4px #BD9F56;
	text-shadow: 2px 2px black;
	line-height: 12px;
	background-color: rgba(0, 0, 0, 0.6);
}

