@font-face {
	font-family: "wowfont";
	src: url("../fonts/morpheus.ttf");
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.mouseHover:hover {
	cursor: pointer;
}

a:hover {color: black; text-decoration: none;}			/* LINKOVI */
a:visited {color: black; text-decoration: none;}
a:link {color: black; text-decoration: none;}
a:active {color: black; text-decoration: none;}

body {
	margin: 0 auto;
	margin-top: 45px;
	background-position: center top;
	font-family: "wowfont";
}

#achievementResultBackground {
	position: absolute;
}

p.poruka {
	text-align: center;
	font-size: 22px;
	color: white;
}

div#achievement {
	width: 320px;
	height: 90px;
	margin: 0 auto;
	background-image: url("../images/site/achievementUnlock.png");
}

div#levi {
	float: left;
	width: 66px;
	height: 100%;
	margin: 0px;
}

div#levi img {
	height: 46px;
	width: 46px;
	margin-top: 22px;
	margin-left: 18px;
}

div#desni {
	float: right;
	width: 254px;
	height: 100%;
}

div#desni .achievementName {
	height: 21px;
	width: 100%;
	margin-top: 32px;
	text-align: center;
	text-indent: -50px;
	color: white;
	text-shadow: 2px 2px black;
}