@font-face {
	font-family: "wowfont";
	src: url("../fonts/morpheus.ttf");
}

::-webkit-scrollbar {
	display: none
}

body {
	margin-top: 0px;
}


.achievementResult {
	width: 512px;
	height: 95px;
	margin: 0 auto;
	background-image: url("../images/site/achievementResult.png");
	font-family: "wowfont";
}

#achievementResultBackground {
	position: absolute;
}

div#levi {
	float: left;
	width: 82px;
	height: 100%;
}

div#levi img {
	width: 44px;
	height: 42px;
	margin-left: 19px;
	margin-top: 20px;
	border-radius: 2px;
}

div#levi p {
	margin-top: 7px;
	margin-bottom: 8px;
}

div#desni {
	float: right;
	width: 430px;
	height: 100%;
	background-size: 100%;
}

div#desni .achievementName {
	height: 21px;
	width: 342px;
	margin-top: 6px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
}

div#desni .achievementDesc {
	height: 34px;
	width: 344px;
	margin: 0px;
	margin-bottom: 22px;
	text-align: center;
	font-weight: bold;
}

div#desni .achievementPoints {
	float: right;
	width: 100px;
	margin-top: 55px;
	text-align: center;
	color: gold;
	text-shadow: 2px 2px black;
}

#achievementPoints {
	height: 80px;
	line-height: 104px;
	text-align: center;
	font-family: "wowfont";
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px black;
}